.App{
position: absolute;

}

table {
 margin-left:50%;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10%;
 
}

th, td {
  border: 2px solid #000000;
  padding: 8px;
}

th {
  background-color: #89baf5;
  text-align: center;
}
tbody{
  background-color: #c1d8f4;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}